.caption-container {
    width: 100%;
    padding: 5px 0;
    position: absolute;
    bottom: 45px;
    color: white;
    text-align: center;
}

.caption-container:hover {
    background: rgba(1, 1, 1, 0.5);
}

.caption-container:empty {
    display: none;
}

.caption-container .fullscreen {
}

.player-container {
    position: relative;
}

.header-buttons li a {
    text-decoration: none;
    color: white;
}

.header-buttons li.active {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 3px 6px #19555d inset;
}