<div class="navy-content-buttons">
    <div class="cont-buttons">
        <div class="vid-btn vid btn">
            <button type="button" ng-click="changeType(TYPE_VIDEO)" ng-class="{active: getIsActive(TYPE_VIDEO)}">Видео</button>
        </div>
        <div class="txt-btn txt btn">
            <button type="button" ng-click="changeType(TYPE_TEXT)" ng-class="{active: getIsActive(TYPE_TEXT)}">Тексты</button>
        </div>
        <div class="mus-btn mus btn">
            <button type="button" ng-click="changeType(TYPE_MUSIC)" ng-class="{active: getIsActive(TYPE_MUSIC)}">Mузыка</button>
        </div>
    </div>
</div>