<header class="header gradient" ng-controller="DashboardHeaderCtrl">
        <div class="logo">
            <img src="/img/logo5.png">
        </div>
        <div class="right-header">
            <ul class="header-buttons">
                <li ui-sref-active="active"><a ui-sref="dashboard.layout.default.profile">{{ user.nickname }}</a></li>
                <li ui-sref-active="active"><a ui-sref="dashboard.layout.default.search">Материалы</a></li>
                <li ui-sref-active="active"><a ui-sref="dashboard.layout.default.stats">Статистика</a></li>
                <li ui-sref-active="active"><a ui-sref="dashboard.layout.default.about">О Нас</a></li>
                <li ui-sref-active="active"><a ui-sref="dashboard.layout.default.faq">F.A.Q</a></li>
            </ul>
            <div class="exit-button">
                <button type="button" ng-click="logout()">Выход</button>
            </div>
            <div class="search-wrapper gradient">
                <form>
                    <div class="search-div" ng-controller="SearchCtrl">
                        <input class="content-search" type="text" placeholder="Искать материалы" ng-model="query" ng-keyup="searchOnEnter($event)">
                        <button class="search-button" type="button" ng-click="search()">Поиск</button>
                    </div>
                </form>
            </div>
        </div>
    </header>