<div class="third-col" id="third-col">
    <div class="history gen-col-style gradient">
        <div class="his-tag">
            <p class="his-label" id="his-label">История</p>
        </div>
        <div class="words-wrapper">
            <div class="words-in-history-closed">
                <span>Train</span>
                <br><br>
                <hr>
                <span>Сущ. → </span><span>поезд, состав, шлейф, обоз, цепь, череда.</span>
                <hr>
                <span>Гл. → </span><span>обучаться, обучать, тренироваться, готовить.</span>
            </div>
            <div class="words-in-history-opened">
                <span>Forest</span>
                <br><br>
                <hr>
                <span>Сущ. → </span><span> Лес, заповедник, заказник.</span>
                <hr>
                <span>Гл. → </span><span>Засаживать лесом.</span>
                <hr>
                <span>Прилаг. → </span><span>Лесной.</span>
            </div>
            <div class="words-in-history-closed">
                <span>Heal</span> <span></span>
            </div>
            <div class="words-in-history-closed">
                <span>Wood</span> <span></span>
            </div>
            <div class="words-in-history-closed">
                <span>Angry</span> <span></span>
            </div>
            <div class="words-in-history-closed">
                <span>Retard</span> <span></span>
            </div>
        </div>
    </div>
</div>