<div class="second-col">
    <div class="mid-col gen-col-style gradient">
        <div class="content-field">
            <!--Результаты поиска, материалы-->
            <div class="lside-menu" ng-controller="LeftMenuCtrl">
                <div class="lside-buttons">
                    <button type="button" ng-click="goToSearch()" ng-class="{active: currentStateIsSearch()}">Результаты
                        поиска
                    </button>
                    <button type="button">Категории</button>
                    <button type="button">Популярное</button>
                    <button type="button">Новинки</button>
                    <button type="button" ng-click="goToAddMaterials()" ng-class="{active: currentStateIsAdd()}" data-test-id="addContentButton">
                        Добавить материалы
                    </button>
                </div>
            </div>
            <div class="rside">
                <div ezcontentswitch></div>
                <div class="blue-stripe gradient"></div>

                <div ui-view="inner-main"></div>
            </div>
            <!--результаты поиска, материалы-->
        </div>
    </div>
</div>