<footer id="footer">
    <div class="interactive-panel">
        <div class="panel-wrapper gradient">
            <form>
                <div class="words-search-div">
                    <input class="content-search words-search" type="text" placeholder="Искать слово"
                           ng-model="text"
                           enter-key="loadTicket()">
                    <button class="search-button" type="button" ng-click="loadTicket()">Перевести
                    </button>
                </div>
            </form>
            <div class="bottom-interactive-buttons">
                <ul class="footer-buttons">
                    <li>
                        <button class="new-sticker" title="Новый стикер"></button>
                    </li>
                    <li>
                        <button class="edit-sticker" id="edit-sticker" title="Редактировать стикер"></button>
                    </li>
                    <li>
                        <button class="customization-sticker" id="customization" title="Кастомизация"></button>
                    </li>
                    <li>
                        <button class="add-to-learn" title="Добавить в изучаемые"></button>
                    </li>
                    <li>
                        <button class="delete-sticker" title="Удалить стикер" ng-click="deleteTicket()"></button>
                    </li>
                </ul>
            </div>
            <div class="stickers-wrapper">
                <div class="basket-wrapper" ng-click="toggleTicket()">{{ ticketPresent() ? 'Показать перевод' : '' }}</div>
                <div class="active-sticker" ng-show="ticketPresent() && ticketIsVisible">
                    <h2>{{ text }}</h2>

                    <p ng-show="log">Вы искали слово <b>{{ log.count }}</b> раз</p>

                    <div class="active-sticker-cont"
                         slimscroll="{height: '220px', railVisible: true, distance: '5px', color: '#1B3F32'}">
                        <div ng-show="ticket" ng-bind="ticket.text"></div>
                        <div ng-show="dictTicket && !ticket">
                            <div ng-repeat="def in dictTicket.def">
                                <div><b>{{ def.text }} [{{ def.ts }}] </b>
                                    <small><i>({{ def.tr[0].pos }})</i></small>
                                </div>
                                <ol>
                                    <li ng-repeat="tr in def.tr">
                                        <div>{{ tr.text }} <span
                                                ng-repeat="syn in tr.syn">{{ ($first ? '(' : '') + syn.text + ($last ? ')' : ', ')  }}</span>
                                        </div>
                                        <div ng-repeat="ex in tr.ex">
                                            <small>{{ ex.text }} - {{ ex.tr[0].text }}</small>
                                        </div>
                                        <div ng-show="tr.mean.length > 0">
                                            <div><b>Синонимы:</b></div>
                                            <ul>
                                                <li ng-repeat="mean in tr.mean">
                                                    <div>{{ mean.text }}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div ng-show="translateTicket && !ticket && !dictTicket">
                            <div><b>Перевод:</b></div>
                            <ul>
                                <li ng-repeat="text in translateTicket.text"> {{ text }}</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bottom-edit-panel">
        <div class="dict-switcher">
            <ul>
                <li>Словарь EzDict</li>
                <li>Лучшие стикеры пользователей</li>
            </ul>
        </div>
        <div class="edit-field-wrapper">
            <div class="edit-field-container">
                <div class="desk-wrapper">
                    <div class="desk-translate-wrap">
                        <div class="desk-translate">

                            <div class="transcription">
                                <b>{{ text }}</b>
                                <span> - </span>
                                <i>[{{ dictTicket.def[0].ts }}]</i>
                            </div>
                            <table class="tranlation-table">
                                <tr class="table-title">
                                    <td ng-repeat="def in dictTicket.def">
                                        <i>{{ def.tr[0].pos }}</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-repeat="def in dictTicket.def">
                                        <ul>
                                            <li ng-repeat="text in dictTicket.getFlatDefTrs(def) track by $index">{{ text }}</li>
                                        </ul>
                                        <div><b>Синонимы:</b></div>
                                        <ul>
                                            <li ng-repeat="text in dictTicket.getFlatDefExs(def) track by $index">{{ text }}</li>
                                        </ul>
                                        <div><b>Примеры:</b></div>
                                        <ul>
                                            <li ng-repeat="text in dictTicket.getFlatDefMeans(def) track by $index">{{ text }}</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="desk-buttons">
                        <button class="copy-button" title="Копировать перевод в стикер"></button>
                    </div>
                    <div class="desk-sticker">
                        <span class="red-pin"></span>
                        <b>{{ text }}</b>
                        <br>

                        <div class="desk-sticker-content"
                             slimscroll="{height: '280px', railVisible: true, distance: '5px', color: '#1B3F32'}">
                            <div ng-show="ticket" ng-bind="ticket.text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>