    <div class="widgets">
        <div class="widgets-btn">
            <button type="button" id="widgets-btn"></button>
        </div>
        <div class="random-words gradient" id="random-words-widget">
            <div class="rw-close-btn">
                <button class="button" id="rw-close-btn"></button>
            </div>
            <div class="fisherman"></div>
            <div class="random-words-content">
                <div class="random-words-spacer"></div>
                <div class="widget-name">
                    <span>Случайные слова</span>
                </div>
                <div class="word-in-random-widg">
                    <span>Participate</span>
                </div>
            </div>
        </div>
    </div>