<div ng-controller="WorkonVideoCtrl" text-select>
    <div class="player-container">
        <div youtube-player video-id="{{ videoId }}"></div>
        <div youtube-caption caption="caption.__text" player="player.instance"></div>
    </div>
    <div>
        <p ng-show="noCaptions">Нет субтитров</p>

        <p ng-repeat="caption in currentCaptions track by $index">
            <small>{{ sToMin(caption._start) }} -</small>
            <span ng-bind-html="caption.__text"></span>
        </p>
    </div>
</div>